# i need to refer nodejs tasks in common folder
# catalogue, common are roles
# import nodejs.yaml into catalogue main.yaml

- name: install nodejs
  ansible.builtin.import_role:
    name: common
    tasks_from: nodejs

- name: Setup App and folders
  ansible.builtin.import_role:
    name: common
    tasks_form: app-setup

